.edit-post-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-post-content {
  max-width: 100%;
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.edit-form p {
  margin-top: 15px;
}
