.edit-post-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-post-content {
  max-width: 100%;
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.edit-form p {
  margin-top: 15px;
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

textarea:focus {
  outline: none;
}
